@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Yanone+Kaffeesatz:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

/****Estilos Formulario Login****/
form.form-login{
    background-color: #F1F1F1;
    width: 500px;
    height: auto;
    margin: 160px 400px;
    border-radius: 20px;
}

p.login{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: rgb(142, 171, 221);
    font-size: 32px;
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
}

input{
    display: block;
    margin: 10px 100px;
}

input.textA{
    width: 300px;
    height: 30px;
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

input.btn{
    display: inline-block;
    margin: 10px;
    transform: translateX(90px);
    width: 160px;
    height: 35px;
    color: rgb(142, 171, 221);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: rgb(239, 237, 236);
}

input.btn.login{
    background-color: rgb(142, 171, 221);
    color: #F1F1F1;
    width: 124px;
}

input.btn:hover{
    background-color: rgb(142, 171, 221);
    color: #F1F1F1;
}

input.btn.login:hover{
    color: rgb(142, 171, 221);
    background-color: #F1F1F1;
}
