@media only screen and (max-width: 600px) {
  body{
       background-color: #010101;
  }
  
  header.mobile{
     background-color: rgb(247, 247, 247);

  }
  a.link-mobile{
       font-size: 15px;
  }
}